{% extends "layout.html" %}
{% block title %}Lainatut tavarat{% endblock %}
{% block header %}Lainatut tavarat{% endblock %}

{% block content %}

{% if borrowed_items_count > 0 %}
  <p>
    Tällä hetkellä {{borrowed_items_count}} {% if borrowed_items_count == 1 %}tavara{% else %}tavaraa{% endif %} on lainattu varastosta:
  </p>
  <div class = "item_display_wrapper">
    <div class = "item_display_container">
      {% for item in borrowed_items %}
      <div class = "item_display_grid">
        <a href="/item/{{ item['item_id'] }}" class="item_button">{{ item['item_name'] }}</a>
        {% if item['item_picture'] %}<img src="data:image/png;base64,{{ item['item_picture'] }}" alt="Tavaran {{ item['item_name'] }} kuva" class="item_picture">{% endif %}
        <div class = "pusher">
          <p>Lainaaja: <a href="/user/{{item['borrower_username']}}" class="user_link">{{item['borrower_username']}}</a></p>
          <p>Lainausaika: {{item['borrow_date']}} kello {{item['borrow_clock']}}</p>
          <div class = "button_wrapper">
            {% if session['user_id'] == item['borrower_id'] %}
              <a href="/return/{{ item['item_id'] }}" class="return button">Palauta</a>
            {% endif %}
            {% if session['user_id'] == item['owner_id'] %}
              <a href="/edit/{{ item['item_id'] }}" class="edit button">Muokkaa</a>         
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  
    <p class="page_nav">
      {% if page >= 2 %}<a href="{{ url_for('borrowings', page = page - 1) }}" class = "page_button">&lt;&lt;</a>{% endif %}
      Sivu {{ page }}/{{ page_count }}
      {% if page < page_count %}<a href="{{ url_for('borrowings', page = page + 1) }}" class = "page_button">&gt;&gt;</a>{% endif %}
    </p>
  </div>
{% else %}
  <p>Kaikki tavarat ovat varastossa</p>
{% endif %}

{% endblock %}