{% extends "layout.html" %}

{% block title %}
  {% if ret %}Palautusvahvistus
  {% elif remove %}Poistovahvistus
  {% elif remove_user_picture %}Käyttäjäkuvan poistovahvistus
  {% elif remove_item_picture %}Tavarakuvan poistovahvistus
  {% else %}Lainausvahvistus
  {% endif %}
{% endblock %}
{% block header %}
  {% if ret %}Palautusvahvistus 
  {% elif remove %}Poistovahvistus 
  {% elif remove_user_picture %}Käyttäjäkuvan poistovahvistus
  {% elif remove_item_picture %}Tavarakuvan poistovahvistus
  {% else %}Lainausvahvistus 
  {% endif %}
{% endblock %}

{% block content %}

<p>
  {% if remove_user_picture %}
    Haluatko poistaa käyttäjäkuvasi?
  {% elif remove_item_picture %}
    Haluatko poistaa tavaran {{item_name}} kuva?
  {% else %}
    Haluatko {% if ret %}palauttaa{% elif remove %}poistaa{% else %}lainata{% endif %} {{item_name}}?
  {% endif %}
</p>
{% if item_picture %}  <img src="data:image/png;base64,{{ item_picture }}" id = "page_picture"><br />{% endif %}

{% set action_url = 
  "/remove_user_picture" if remove_user_picture 
  else ("/remove_item_picture/" ~ item_id) if remove_item_picture 
  else ("/return/" ~ item_id) if ret 
  else ("/remove/" ~ item_id) if remove 
  else ("/borrow/" ~ item_id) 
%}

<form method="POST" action="{{ action_url }}">
  <input type="submit" name="choice" value="Kyllä">
  <input type="submit" name="choice" value="Ei">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="prev_url" value="{{ prev_url }}" />
</form>
{% endblock %}