{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block header %}Etusivu{% endblock %}

{% block content %}
  <p class = "main_text">Tervetuloa, {{username}}!</p>
  {% if available_items_count > 0 %}
    <p>Varastossa on tällä hetkellä {{available_items_count}} {% if available_items_count == 1 %}tavara{% else %}tavaraa{% endif %}.</p>
    <p>Saatavilla olevat tavarat varastossa:</p>
    <div class ="item_display_wrapper">
      <div class = "item_display_container">
        {% for item in available_items %}
          <div class = "item_display_grid">
            <a href="/item/{{ item['item_id'] }}" class="item_button">{{ item['item_name'] }}</a>
            {% if item['item_picture'] %}<img src="data:image/png;base64,{{ item['item_picture'] }}" alt="Tavaran {{ item['item_name'] }} kuva" class="item_picture">{% endif %}
            <div class = "pusher">
              <div class = "button_wrapper">
                <a href="/borrow/{{ item['item_id'] }}" class="borrow button">Lainaa</a>
                {% if session['user_id'] == item['owner_id'] %}
                  <a href="/edit/{{ item['item_id'] }}" class="edit button">Muokkaa</a>  
                  <a href="/remove/{{ item['item_id'] }}" class="remove button">Poista</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      <p class="page_nav">
        {% if page >= 2 %}<a href="{{ url_for('front_page', page = page - 1) }}" class="page_button">&lt;&lt;</a>{% endif %}
        Sivu {{ page }}/{{ page_count }}
        {% if page < page_count %}<a href="{{ url_for('front_page', page = page + 1) }}" class="page_button">&gt;&gt;</a>{% endif %}
      </p>
    </div>


  {% else %}
    <p>Varasto on tällä hetkellä tyhjä.</p>
  {% endif %}

{% endblock %}