{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block header_2_out %}Kirjaudu sisään{% endblock %}

{% block content_out %}

<form action="/" method="post">
  <p>
    <label for="username">Tunnus:</label><br />
    <input type="text" id="username" name="username" />
  </p>
  <p>
    <label for="password">Salasana</label>:<br />
    <input type="password" id="password" name="password" />
  </p>

  <input type="submit" value="Kirjaudu" />
</form>

<p>Ei ole tunnus vielä?</p>

<a href="/register">Luo tunnus</a>
{% endblock %}