{% extends "layout.html" %}
{% block title %}Haku{% endblock %}
{% block header %}Haku{% endblock %}

{% block content %}

<form action="{{ url_for('search') }}" method="GET">
  <p>
    <label for="search_bar">Hae:</label>
    <input type="text" id="search_bar" name="query" value = "{{query if query else '' }}" minlength = "1" placeholder="Hae..." required> <input type="submit" value="Hae">
  </p>
</form>

{% if query %}
  {% if (results | length) > 0 %}
    <p class="main_text">Tulokset hakusanalla '{{query}}':</p>

    {% for key, value in results[:10] %}
      <br/><a href="/item/{{key[0]}}">{{key[1]}}</a> <br />
      {% if key[2] %}<img src="data:image/png;base64,{{ key[2] }}" alt="Tavaran {{ key[1] }} kuva" width="50"><br/>{% endif %}
      {% if value | length > 0 %}
        Haun osumat:<br/>
        {% for each in value %}
          {{each}}: 
          {% for text in value[each] %}
            {% if each == "Omistaja" %}<a href="/user/{{text}}">{{text}}</a>
            {% else %}
              {{text}} 
            {% endif %}
            <br/>
          {% endfor %}<br/>
        {% endfor %}<br/>
      {% endif %}
      
    {% endfor %}

    {% if (page == 1) and ((results | length) <= page_size) %}
    {% else %}
      <p class="search_page_nav">
        {% if page >= 2 %}<a href="{{ url_for('search', query = query, page = page - 1) }}">&lt;&lt;</a>{% endif %}
        Sivu {{ page }}
        {% if (results | length) > page_size %}<a href="{{ url_for('search', query = query, page = page + 1) }}">&gt;&gt;</a>{% endif %}
      </p>
    {% endif %}

  {% else %}
    <label for="search_main_text"> Ei ole tuloksia hakusanalla '{{query}}'.</label>
  {% endif %}
{% endif %}

{% endblock %}