{% extends "layout.html" %}
{% block title %}{% if item_id %}Muokkaa Tavaran Tiedot{% else %}Lisää Tavara{% endif %}{% endblock %}
{% block header %}{% if item_id %}Muokkaa Tavaran Tiedot{% else %}Lisää Tavara{% endif %}{% endblock %}

{% block content %}
Pakollisten kenttien (merkitään *-merkillä) on oltava 1-100 merkkiä pitkiä
{% set action_url = "/edit/" + (item_id|string) if item_id else "/upload" %}
<form action="{{ action_url }}" method="post" enctype="multipart/form-data">

  <p>
    <label for="item_name">Tavaran nimi:</label><br />
    <input type="text" 
      id="item_name" 
      name="item_name" 
      value="{{ item_name if item_name else '' }}" 
      minlength = "1" 
      maxlength="100" 
      required 
    />*
  </p>

  <p>
    {% if item_picture %}
      <img src="data:image/jpg;base64,{{ item_picture }}" alt="Tavaran {{ item_name }} kuva" width="150"> <br />
      <label for="change_item_picture">Muokkaa kuva</label><br />
    {% else %}
      <label for="upload_item_picture">Lisää kuva</label><br />
    {% endif %}
    <label for="upload_jpg_picture_max_100_kilobytes">Lähetä jpg-tiedosto, jonka koko on enintään 100 kt</label><br />
    <input type="file" name="item_picture" accept=".jpg" />

  </p>

  <p>
    <label for="item_location">Säilytys sijainti:</label><br />
    <input type="text" 
      id="item_location" 
      name="item_location" 
      value="{{ item_location if item_location else '' }}" 
      minlength = "1" 
      maxlength="100" 
      required 
    />*
  </p>

  <p>
    <label for="item_classifications">Luokkitelut:</label><br />
    {% for classification_key in classification_keys %}
      <input type="checkbox"
       id="classification_checkbox_{{ classification_key }}"
       name="classification_checkbox[]"
       value= "{{ classification_key }}"
       {% if classification_key|int in item_classifications %}checked{% endif %}
      />
      <label for="classification_checkbox_{{ classification_key }}"> {{ classification_keys[classification_key] }}</label><br>
    {% endfor %}
  </p>

  <p>
    <label for="item_characteristics">Ominaisuudet:</label><br />
    {% for characteristic_key in characteristic_keys %}
      <label for="characteristic_{{ characteristic_key }}"> {{ characteristic_keys[characteristic_key] }}</label>
      <input type="text"
       id="characteristic_{{ characteristic_key }}"
       name="characteristic_{{ characteristic_key }}"
       value="{{ item_characteristics[characteristic_key] if item_characteristics else ''}}"
      /><br>

    {% endfor %}
  </p>

  <p>
    <label for="item_comment">Kommentti:</label><br />
    <textarea id="item_comment" name="item_comment" rows = "6" cols = "50">{{item_comment if item_comment}}</textarea>
    
  </p>

  {% if item_id %}
    <input type="submit" value="Muokkaa" />
  {% else %}
    <input type="submit" value="Lisää tavara" />
  {% endif %}

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>

{% endblock %}