{% extends "layout.html" %}

{% block content %}

{% if item_id %}
  <h2>Muokkaa Tavaran Tiedot</h2>
{% else %}
  <h2>Lisää Tavara</h2>
{% endif %}

{% for message in get_flashed_messages() %}
<p class = "info">
  <b>{{ message }}</b>
</p>
{% endfor %}

Tavaran nimen on oltava 1-100 merkkiä pitkiä
{% set action_url = "/edit/" + (item_id|string) if item_id else "/upload" %}
<form action="{{ action_url }}" method="post" enctype="multipart/form-data">

  <p>
    <label for="upload_main_text">Tavaran nimi:</label><br />
    <input type="text" 
      id="item_name" 
      name="item_name" 
      value="{{ item_name if item_name else '' }}" 
      minlength = "1" 
      maxlength="100" 
      required 
    />
  </p>

  <p>
    {% if picture %}
      <img src="data:image/jpg;base64,{{ picture }}" width="150"> <br />
      <label for="upload_main_text">Muokkaa kuva</label><br />
    {% else %}
      <label for="upload_main_text">Lisää kuva</label><br />
    {% endif %}
    <label for="upload_side_text">Lähetä jpg-tiedosto, jonka koko on enintään 100 kt</label><br />
    <input type="file" name="item_picture" accept=".jpg" />

  </p>

  <p>
    <label for="upload_main_text">Luokkitelut:</label><br />
    {% for classification_key in classification_keys %}
      <input type="checkbox"
       id="classification_checkbox_{{ classification_key }}"
       name="classification_checkbox[]"
       value="{{ classification_key }}"
       {% if classification_key|int in item_classifications %}checked{% endif %}
      />
      <label for="classification_checkbox"> {{ classification_keys[classification_key] }}</label><br>
    {% endfor %}
  </p>

  <p>
    <label for="upload_main_text">Ominaisuudet:</label><br />
    {% for characteristic_key in characteristic_keys %}
      <label for="characteristic_headings"> {{ characteristic_keys[characteristic_key] }}</label>
      <input type="text"
       id="characteristic_{{ characteristic_key }}"
       name="characteristic_{{ characteristic_key }}"
       value="{{ item_characteristics[characteristic_key] if item_characteristics else ''}}"
      /><br>

    {% endfor %}
  </p>

  <p>
    <label for="upload_main_text">Kommentti:</label><br />
    <textarea name="item_comment" rows = "6" cols = "50">{{comment if comment}}</textarea>
    
  </p>

  {% if item_id %}
    <input type="submit" value="Muokkaa" />
  {% else %}
    <input type="submit" value="Lisää tavara" />
  {% endif %}

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>

<br />
<a href="/front_page/{{username}}">Etusivulle</a> <br /> <br />
<a href="/logout">Kirjaudu ulos</a>

{% endblock %}