{% extends "layout.html" %}
{% block title %}{% if id == session["user_id"] %}Omat Tiedot{% else %}Käyttäjä {{ user }}{% endif %}{% endblock %}
{% block header %}{% if id == session["user_id"] %}Omat Tiedot{% else %}Käyttäjä {{ user }}{% endif %}{% endblock %}

{% block content %}
{% if id == session["user_id"] %}Käyttäjätunnus: {{session["username"]}}<br />{% endif %}
{% if user_picture %}
  
  <img src="data:image/png;base64,{{ user_picture }}" alt="Käyttäjän {{ user }} kuva" width="50"><br />
  {% set action_url = "/user/" + (user|string) %}

  {% if id == session["user_id"] %}
    
    <form action="{{ action_url }}" method="post" enctype="multipart/form-data">
      <p> 
        <label for = "change_user_picture">Muokkaa käyttäjäkuva</label><br />
        <label for = "upload_jpg_picture_max_100_kilobytes">Lähetä jpg-tiedosto, jonka koko on enintään 100 kt</label><br />
        <input type="file" name="user_picture" accept=".jpg" />
      </p>
      <input type="submit" value="Muokkaa" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
  {% endif %}

{% else %}

  {% if id == session["user_id"] %}
    
    <form action="{{ action_url }}" method="post" enctype="multipart/form-data">
      <p> 
        Sinulla ei ole käyttäjäkuva sovelluksessa<br />
        <label for = "upload_user_picture">Lisää käyttäjäkuva</label><br />
        <label for = "upload_jpg_picture_max_100_kilobytes">Lähetä jpg-tiedosto, jonka koko on enintään 100 kt</label><br />
        <input type="file" name="user_picture" accept=".jpg" />
      </p>
      <input type="submit" value="Lataa kuva" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
  {% else %}
    <p> Käyttäjällä {{ user }} ei ole käyttäjäkuva</p>
  {% endif %}

{% endif %}

{% if user_uploads_count == 0 %}

  {% if id == session["user_id"] %}Et{% else %}Käyttäjä {{user}} ei{% endif %} ole lisännyt sovellukseen yhtään tavaraa.

{% else %}

  {% if id == session["user_id"] %}Olet{% else %}Käyttäjä {{user}} on{% endif %} lisännyt sovellukseen {{user_uploads_count}} {% if user_uploads_count == 1 %}tavara{% else %}tavaraa{% endif %}.

  {% for item in user_uploads %}
  <p class = "user_page_item_list">
    <a href="/item/{{ item[0] }}">{{ item[1] }}</a>
    {% if item[4] == 1 %}<a href="/borrow/{{ item[0] }}">Lainaa</a>{% endif %}
    {% if session['user_id'] == item[2] %}
      <a href="/edit/{{ item[0] }}">Muokkaa</a>      
      <a href="/remove/{{ item[0] }}">Poista</a>      
    {% endif %}<br/>
    {% if item[3] %}<img src="data:image/png;base64,{{ item[3] }}" alt="Tavaran {{ item[1] }} kuva" width="50">{% endif %}
  </p>
  {% endfor %}

  <p class="user_page_page_nav">
  {% if page >= 2 %}<a href="{{ url_for('user_page', user = user, page = page - 1) }}">&lt;&lt;</a>{% endif %}
  Sivu {{ page }}/{{ page_count }}
  {% if page < page_count %}<a href="{{ url_for('user_page', user = user, page = page + 1) }}">&gt;&gt;</a>{% endif %}
  </p>

{% endif %}

<a href="/user_borrowings/{{ user }}">Katso {% if id == session["user_id"] %}lainaamasi{% else %}käyttäjän {{user}} lainaamat{% endif %} tavarat</a>

{% endblock %}